<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT slider ANY>
<!ATTLIST slider id ID #REQUIRED>
<!ELEMENT slide ANY>
<!ATTLIST slide id ID #REQUIRED>
<!ELEMENT newsOverview ANY>
<!ATTLIST newsOverview id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
]>
<root id="-1">
  <home id="1148" key="c35efcc1-92d1-47df-9139-07510ccb4076" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-14T14:04:43" updateDate="2017-08-17T09:21:25" nodeName="Home Page" urlName="home-page" path="-1,1148" isDoc="" nodeType="1146" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1145" nodeTypeAlias="home">
    <pageTitle><![CDATA[Here it is!]]></pageTitle>
    <siteName><![CDATA[A new carousel]]></siteName>
    <pageImage><![CDATA[/media/1039/do_a_thing_text.jpg]]></pageImage>
    <pictures><![CDATA[umb://media/b76857fc5c1e480ba362815f03cc2d76,umb://media/cbf389af4613449aa8a225107213de08,umb://media/a7d65d61ca3643ae9e0394e873564746,umb://media/8062f4164b7440bbb139a64f59cde065]]></pictures>
    <bodyText><![CDATA[<p>Are you ready for spaghetti?</p>]]></bodyText>
    <imageName><![CDATA[Creepster]]></imageName>
    <home id="1164" key="f8cf0eed-8610-4975-a74e-37ed3ea36f6f" parentID="1148" level="2" creatorID="0" sortOrder="0" createDate="2017-08-16T10:57:23" updateDate="2017-08-16T10:57:23" nodeName="Second Home Page" urlName="second-home-page" path="-1,1148,1164" isDoc="" nodeType="1146" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1145" nodeTypeAlias="home">
      <siteName><![CDATA[Second Home Page]]></siteName>
      <pageImage><![CDATA[/media/1041/cool-furniture-and-home-cool-fun-finds-13.jpg]]></pageImage>
      <bodyText><![CDATA[<p>Here's some more body text... Yeah!</p>]]></bodyText>
      <imageName><![CDATA[Smol car]]></imageName>
    </home>
    <newsOverview id="1175" key="a4bbf24b-b7af-4655-855a-72da6f236ac1" parentID="1148" level="2" creatorID="0" sortOrder="2" createDate="2017-08-16T14:13:32" updateDate="2017-08-21T11:03:22" nodeName="Uddannelses Centre" urlName="uddannelses-centre" path="-1,1148,1175" isDoc="" nodeType="1174" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1173" nodeTypeAlias="newsOverview">
      <pageTitle><![CDATA[Uddannelses Centre]]></pageTitle>
      <newsOverviewBodyText><![CDATA[<p>De forskellige centre og hvor de findes.</p>]]></newsOverviewBodyText>
      <news id="1179" key="db9f35fb-7a80-4895-b6f5-d98767ffb66a" parentID="1175" level="3" creatorID="0" sortOrder="0" createDate="2017-08-17T11:23:13" updateDate="2017-08-21T10:48:00" nodeName="Esbjerg" urlName="esbjerg" path="-1,1148,1175,1179" isDoc="" nodeType="1177" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1176" nodeTypeAlias="news">
        <pageTitle><![CDATA[Esbjerg]]></pageTitle>
        <newsText><![CDATA[<p><span>Esbjerg Forberedende Erhvervsskole, Produktionsskolen Esbjerg</span><br /><span>KUU Center</span><br /><span>Bavnehøjvej 12</span><br /><span>6700 Esbjerg</span><br /><span>Tlf.: 76 12 30 34</span><img style="width: 500px; height: 371.42857142857144px;" src="/media/1037/sandwich.jpg?width=500&amp;height=371.42857142857144" alt="Lettuce, tomato and ham" data-udi="umb://media/8062f4164b7440bbb139a64f59cde065" /></p>]]></newsText>
      </news>
      <news id="1180" key="ad3f8743-0320-4c4b-9148-acabb47db05b" parentID="1175" level="3" creatorID="0" sortOrder="1" createDate="2017-08-17T11:29:41" updateDate="2017-08-21T10:49:07" nodeName="Varde" urlName="varde" path="-1,1148,1175,1180" isDoc="" nodeType="1177" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1176" nodeTypeAlias="news">
        <pageTitle><![CDATA[Varde]]></pageTitle>
        <newsText><![CDATA[<p><span>Produktionsskolen Vest</span><br /><span>Hammeren 3</span><br /><span>6800 Varde</span><br /><span>Tlf.: 75 28 77 22</span> <img style="width: 500px; height: 333.3333333333333px;" src="/media/1038/sandwich-avocadoblt.jpg?width=500&amp;height=333.3333333333333" alt="Now with bacon" data-udi="umb://media/a7d65d61ca3643ae9e0394e873564746" /></p>]]></newsText>
      </news>
      <news id="1181" key="4a7307a3-e9b5-4d35-97c8-00081cc6e611" parentID="1175" level="3" creatorID="0" sortOrder="2" createDate="2017-08-17T11:30:49" updateDate="2017-08-21T10:48:27" nodeName="Lustrupholm" urlName="lustrupholm" path="-1,1148,1175,1181" isDoc="" nodeType="1177" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1176" nodeTypeAlias="news">
        <pageTitle><![CDATA[Lustrupholm]]></pageTitle>
        <newsText><![CDATA[<p><span>Produktionsskolen Lustrupholm</span><br><span>Lustrupvej 4</span><br><span>6760 Ribe</span><br><span>Tel.: +45 75 411 611</span></p>
<?UMBRACO_MACRO macroAlias="Gallery" mediaIds="1197,1195,1196,1194" />]]></newsText>
      </news>
      <news id="1198" key="55e38838-5e97-4ccc-9e5c-992e88bd8e9c" parentID="1175" level="3" creatorID="0" sortOrder="3" createDate="2017-08-21T10:47:24" updateDate="2017-08-21T10:47:24" nodeName="Vejen" urlName="vejen" path="-1,1148,1175,1198" isDoc="" nodeType="1177" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1176" nodeTypeAlias="news">
        <pageTitle><![CDATA[Vejen]]></pageTitle>
        <newsText><![CDATA[<p><span>Produktionsskolen Vejen</span><br /><span>Dalgas Allé 5</span><br /><span>6600 Vejen</span><br /><span>Tlf.: 28 95 61 22<img style="width: 500px; height:281.1447811447812px;" src="/media/1036/rplc-sandwich-tuna-594x334.jpg?width=500&amp;height=281.1447811447812" alt="" data-udi="umb://media/cbf389af4613449aa8a225107213de08" /></span></p>]]></newsText>
      </news>
    </newsOverview>
  </home>
  <slider id="1153" key="d9c6b8d7-3920-419b-aa23-afe32328fd50" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-08-14T14:14:42" updateDate="2017-08-14T14:14:42" nodeName="slider" urlName="slider" path="-1,1153" isDoc="" nodeType="1149" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="0" nodeTypeAlias="slider">
    <slide id="1154" key="ebfbf7cd-23eb-4971-854c-564dfbaa23c1" parentID="1153" level="2" creatorID="0" sortOrder="0" createDate="2017-08-14T14:16:10" updateDate="2017-08-23T13:57:22" nodeName="Slide1" urlName="slide1" path="-1,1153,1154" isDoc="" nodeType="1150" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="0" nodeTypeAlias="slide">
      <billede><![CDATA[/media/1031/classroom-tile-group-work-2.jpg]]></billede>
      <slideName><![CDATA[troll]]></slideName>
      <caption><![CDATA[This is ... a troll of sorts]]></caption>
    </slide>
    <slide id="1155" key="02d69e56-0218-4f64-b789-295f23f9d3f5" parentID="1153" level="2" creatorID="0" sortOrder="1" createDate="2017-08-14T14:16:33" updateDate="2017-08-22T14:47:22" nodeName="Slide2" urlName="slide2" path="-1,1153,1155" isDoc="" nodeType="1150" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="0" nodeTypeAlias="slide">
      <billede><![CDATA[/media/1032/cool-furniture-and-home-cool-fun-finds-13.jpg]]></billede>
      <slideName><![CDATA[Weird car]]></slideName>
      <caption><![CDATA[This car is super compact!]]></caption>
    </slide>
    <slide id="1156" key="fff84e14-6ab8-4486-87d8-d390ce888ab5" parentID="1153" level="2" creatorID="0" sortOrder="2" createDate="2017-08-14T14:16:55" updateDate="2017-08-22T14:48:36" nodeName="Slide3" urlName="slide3" path="-1,1153,1156" isDoc="" nodeType="1150" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="0" nodeTypeAlias="slide">
      <billede><![CDATA[/media/1033/d0370cfd8991877bc5f01f0f74ada0cb.jpg]]></billede>
      <slideName><![CDATA[Mountains]]></slideName>
      <caption><![CDATA[Some mountains... that don't really exist.... Technology, man, it's crazy.]]></caption>
    </slide>
    <slide id="1157" key="763c8942-2b15-4753-b341-dfce7441291e" parentID="1153" level="2" creatorID="0" sortOrder="3" createDate="2017-08-14T14:17:11" updateDate="2017-08-22T14:48:49" nodeName="Slide4" urlName="slide4" path="-1,1153,1157" isDoc="" nodeType="1150" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="0" nodeTypeAlias="slide">
      <billede><![CDATA[/media/1034/hqdefault.jpg]]></billede>
      <slideName><![CDATA[Creeper]]></slideName>
      <caption><![CDATA[It's the creepster!]]></caption>
    </slide>
  </slider>
</root>