@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.KUuvejen>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="findUddannelseTitle">
    <h3>Velkommen til KUU SVJ</h3>
</div>