@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PraktiskInfo>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="findUddannelseTitle">
    <h3>Velkommen til KUU SVJ</h3>
</div>


<div class="praktiskInfoContainer1 container-fluid col-sm-12 col-md-12 col-lg-12 col-xl-12 center"> <!-- class="praktiskInfoContainer1 container col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-10 col-xl-offset-1 center"> -->
    <img src="@CurrentPage.sUImage" />

    <div class="praktiskInfoExpanding">
        <a class="ghostButton" href="#">Esbjerg</a>
    </div>
</div>



<div class="praktiskInfoContainer2 container-fluid col-sm-12 col-md-12 col-lg-12 col-xl-12 center">
    <div class="praktiskInfoExpanding">
        <img src="@CurrentPage.centerImage1" />
        <a class="ghostButton" href="#">Esbjerg</a>
    </div>

    <div class="praktiskInfoExpanding">
        <img src="@CurrentPage.centerImage2" />
        <a class="ghostButton" href="#">Varde</a>
    </div>

    <div class="praktiskInfoExpanding">
        <img src="@CurrentPage.centerImage3" />
        <a class="ghostButton" href="#">Vejen</a>
    </div>
</div>

<div class="findVejleder">
    <h4>Kender du ikke din vejleder?   <a class="ghostButton" href="#">Find Vejleder</a></h4>
</div>