@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PraktiskInfo>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="findUddannelseTitle">
    <h3>Velkommen til KUU SVJ</h3>
</div>


<div class="PraktiskInfoContainer1">

</div>

<div class="PraktiskInfoContainer2">

</div>


<div class="PraktiskInfoContainer3">

</div>


<div class="PraktiskInfoContainer4">

</div>