<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT slider ANY>
<!ATTLIST slider id ID #REQUIRED>
<!ELEMENT slide ANY>
<!ATTLIST slide id ID #REQUIRED>
<!ELEMENT newsOverview ANY>
<!ATTLIST newsOverview id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT findUddannelse ANY>
<!ATTLIST findUddannelse id ID #REQUIRED>
<!ELEMENT praktiskInfo ANY>
<!ATTLIST praktiskInfo id ID #REQUIRED>
<!ELEMENT linksOgDownloads ANY>
<!ATTLIST linksOgDownloads id ID #REQUIRED>
<!ELEMENT fagMaalOgFormaal ANY>
<!ATTLIST fagMaalOgFormaal id ID #REQUIRED>
<!ELEMENT kUURibe ANY>
<!ATTLIST kUURibe id ID #REQUIRED>
<!ELEMENT kUUVarde ANY>
<!ATTLIST kUUVarde id ID #REQUIRED>
<!ELEMENT kUUVejen ANY>
<!ATTLIST kUUVejen id ID #REQUIRED>
]>
<root id="-1">
  <home id="1148" key="c35efcc1-92d1-47df-9139-07510ccb4076" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-14T14:04:43" updateDate="2017-09-13T12:39:18" nodeName="Hjem" urlName="hjem" path="-1,1148" isDoc="" nodeType="1146" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1145" nodeTypeAlias="home">
    <pageTitle><![CDATA[Hjem]]></pageTitle>
    <siteName><![CDATA[KUU test]]></siteName>
    <pageImage><![CDATA[/media/1039/do_a_thing_text.jpg]]></pageImage>
    <pictures><![CDATA[umb://media/b76857fc5c1e480ba362815f03cc2d76,umb://media/cbf389af4613449aa8a225107213de08,umb://media/a7d65d61ca3643ae9e0394e873564746,umb://media/8062f4164b7440bbb139a64f59cde065]]></pictures>
    <faktaOmKUU><![CDATA[<ul>
<li>For unge under 25 år, der ikke har forudsætninger for at gennemføre en erhvervsuddannelse eller en gymnasial ungdomsuddannelse.</li>
<li>Uddannelsen udbydes første gang i august 2015.</li>
<li>Mulighed for afstigning og påstigning med en samlet varighed på op til 2 år.</li>
<li>Udbydes af et institutionssamarbejde.</li>
<li>Målrettes beskæftigelse på det lokale arbejdsmarked.</li>
<li>Kan desuden give grundlag for at fortsætte i kompetencegivende uddannelse.</li>
<li>Sammensættes lokalt inden for en række erhvervstemaer.</li>
<li>Ungdommens Uddannelsesvejledning afgør, om ansøgeren er i målgruppen for uddannelsen.</li>
<li>Uddannelsen giver ret til SU.</li>
</ul>]]></faktaOmKUU>
    <nyheder><![CDATA[<p>Uddannelsen kan ansøges via din UU-vejleder og første hold starter august 2015, med efterfølgende optag hvert halvår.</p>
<p>Der oprettes 20 pladser i Esbjerg / Fanø<br />Der oprettes 12 pladser i Varde<br />Der oprettes 10 pladser i Ribe<br />Der oprettes 12 pladser i Vejen</p>
<p>Fra 2016 fordobles antallet af pladser pr. år.</p>
<p> </p>
<p> </p>
<p>Well obviouisly uoi're not gonna invite 50 poeple over.</p>
<p>This is your ego</p>
<p>Down-size your material wealth</p>]]></nyheder>
    <imageName><![CDATA[Creepster]]></imageName>
    <findUddannelse id="1204" key="c390f13e-f920-4e9b-8728-82bd8c16aef3" parentID="1148" level="2" creatorID="0" sortOrder="4" createDate="2017-09-05T10:35:36" updateDate="2017-09-21T13:49:42" nodeName="Find Uddannelses centre" urlName="find-uddannelses-centre" path="-1,1148,1204" isDoc="" nodeType="1203" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1202" nodeTypeAlias="findUddannelse">
      <pageTitle><![CDATA[Find Uddannelse]]></pageTitle>
      <siteName><![CDATA[KUU test]]></siteName>
      <fagMaalOgFormaal id="1228" key="ee13092f-a563-4875-a1a6-3836777daa27" parentID="1204" level="3" creatorID="0" sortOrder="0" createDate="2017-09-18T12:36:42" updateDate="2017-09-25T14:04:53" nodeName="Fag, mål og formål" urlName="fag-maal-og-formaal" path="-1,1148,1204,1228" isDoc="" nodeType="1227" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1226" nodeTypeAlias="fagMaalOgFormaal">
        <pageTitle><![CDATA[Fag, mål og formål]]></pageTitle>
        <siteName><![CDATA[Umbraco Test site]]></siteName>
        <image3><![CDATA[/media/1054/reallylrg2.jpg]]></image3>
        <textSection4><![CDATA[<ul>
<li>Modtage og forstå anvisning til en arbejdsopgave,</li>
<li>Samarbejde med andre om løsning af arbejdsopgaver,</li>
<li>Fungere i forskellige samarbejdssituationer,</li>
<li>Anvende konfliktløsningsværktøjer,</li>
<li>Forholde sig til egen rolle og indsats i konkrete arbejdsopgaver, der udføres i samarbejde med andre og,</li>
<li>Forholde sig til, hvordan indflydelse kan opnås i demokratiske funderede fællesskaber.</li>
</ul>]]></textSection4>
        <textSection1><![CDATA[<p><span>Arbejdspladslære, formålet med faget er, at eleven opnår viden om gældende normer og kulturer på arbejdsmarkedet og på arbejdspladsen med fokus på elevens valg af beskæftigelsesprofil. Eleven opnår viden om og forståelse for egen rolle og indflydelsesmuligheder på arbejdsmarkedet. Undervisningens fokus er udvikling af elevens selvtillid, evne til at vælge, selvkompetence og handlekompetence. Målet er , at eleven kan:</span></p>]]></textSection1>
        <textSection5><![CDATA[<p>Erhvervslære, formålet med faget er, at eleven udvikler praktiske kompetencer i en erhvervsfaglig kontekst i eksempelvis et værksted, et køkken, en klinik eller som erhvervstræning. I undervisningen fokuseres der på udvikling af elevens arbejdspladskompetence og begyndende faglig rutine inden for et beskæftigelsesområde. Målet er, at eleven kan:</p>]]></textSection5>
        <textSection6><![CDATA[<ul>
<li>indgå på en arbejdsplads, herunder forstå omgangstonen og indgå i kollegiale fællesskaber,</li>
<li>modtage og udføre en arbejdsopgave,</li>
<li>anvende almindelige fagudtryk og kommunikere om enkle faglige problemstillinger med kolleger, andre elever og i forskellige kunderelationer,</li>
<li>anvende viden om faglige begreber og standarder inden for den valgte beskæftigelsesprofil,</li>
<li>anvende grundlæggende metoder og processer inden for den valgte beskæftigelsesprofil,</li>
<li>anvende værktøjer, materialer og udstyr inden for den valgte beskæftigelsesprofil og</li>
<li>selvstændigt løse enkle faglige problemstillinger inden for den valgte beskæftigelsesprofil.</li>
</ul>]]></textSection6>
        <image2><![CDATA[/media/1055/ducklings-chicks-mama-duck-160509.jpeg]]></image2>
        <textSection3><![CDATA[<p><span>Samarbejdslære, formålet med faget er, at eleven lærer at kommunikere og samarbejde med andre for at kunne løse en enkelt og konkret arbejdsopgave. Undervisningens fokus er udvikling af elevens relations kompetence, evne til at indgå i forpligtende fællesskaber, evne til at indgå i demokratisk funderede fællesskaber, lede simple arbejdsprocesser og tage følgeskab under andres ledelse samt konflikthåndtering. Målet er, at eleven kan:</span></p>]]></textSection3>
        <image1><![CDATA[/media/1056/duck-1-7.jpg]]></image1>
        <textSection2><![CDATA[<ul>
<li>Forklare betydningen af mødetid, tiltaleform, personlig hygiejne og personlig fremtræden på en arbejdsplads</li>
<li>Søge og anvende viden og informationer til at disponere og træffe valg,</li>
<li>Anvende forståelse for, hvad der skaber en produktiv og inkluderende arbejdspladskultur og</li>
<li>Anvende viden om grundlæggende arbejdsmarkedsforhold til at formidle og diskutere aktuelle arbejdsmarkedsmæssige problemstillinger.</li>
</ul>]]></textSection2>
      </fagMaalOgFormaal>
      <kUUVarde id="1235" key="beb48ff0-b4b2-430d-bc9a-847ce94276a7" parentID="1204" level="3" creatorID="0" sortOrder="1" createDate="2017-09-21T13:47:22" updateDate="2017-09-27T12:58:58" nodeName="KUU Varde" urlName="kuu-varde" path="-1,1148,1204,1235" isDoc="" nodeType="1232" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1231" nodeTypeAlias="kUUVarde">
        <pageTitle><![CDATA[KUU Varde]]></pageTitle>
        <siteName><![CDATA[Umbraco Test site]]></siteName>
        <image1><![CDATA[/media/1057/3ac352669bd370ab1465cc4a6da28bff.jpg]]></image1>
        <textSection4><![CDATA[<p>4.del</p>
<ul>
<li>Dansk D, Afsætning D, Vandbehandling, livredder, hygiejne</li>
<li>Erhvervstræning</li>
<li>Vejledning og prøve i præsentationsportfolio. Afstigning til uddannelse eller arbejde.</li>
</ul>]]></textSection4>
        <image2><![CDATA[/media/1058/8e4e6aa3b51e3ed2f6bc95f13af290ea.jpg]]></image2>
        <textSection1><![CDATA[<p>1.del</p>
<ul>
<li>Dansk, Matematik afklaring evt. FVU eller specialundervisning.</li>
<li>Faglige, personlige og sociale screeninger, evt. test i skriftsproglige vanskeligheder.</li>
<li>I den periode arbejder de på vores værksteder og vi opnår det personlige kendskab til den unge, som skal til for, at dette skal lykkes.</li>
<li>Arbejdspladskultur, kommunikation, Sikkerhed, værktøj og mindre maskiner, Førstehjælp</li>
<li>Kendskab til områdets geografi og attraktioner. Naturformidling</li>
<li>Afklaring og vejledning. Opstart af portfolio</li>
</ul>]]></textSection1>
        <textSection2><![CDATA[<p>2.del</p>
<ul>
<li>Dansk F, Fremmedsprog tysk E, engelsk E, Informationsteknologi F</li>
<li>Praktikpladssøgning, Afsætning, Aktivitetsafvikling, bæredygtighed og miljø.</li>
<li>Vejledning og portfolio.</li>
<li>Erhvervstræning</li>
</ul>]]></textSection2>
        <textSection3><![CDATA[<p>3.del</p>
<ul>
<li>Dansk E, Fremmedsprog tysk E, engelsk E, Brancherelateret IT, Iværksætteri, Innovation, Afsætning.</li>
<li>Afslutning i et fag på D niveau.</li>
<li>Vejledning og portfolio, opstart af præsentationsportfolio.</li>
<li>Erhvervstræning</li>
</ul>]]></textSection3>
      </kUUVarde>
      <kUURibe id="1236" key="382ef0fa-3d1a-4325-8a23-d81d1b24f6b4" parentID="1204" level="3" creatorID="0" sortOrder="2" createDate="2017-09-21T13:47:33" updateDate="2017-09-27T13:37:40" nodeName="KUU Ribe" urlName="kuu-ribe" path="-1,1148,1204,1236" isDoc="" nodeType="1230" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1229" nodeTypeAlias="kUURibe">
        <pageTitle><![CDATA[KUU Ribe]]></pageTitle>
        <siteName><![CDATA[Umbraco Test site]]></siteName>
        <image1><![CDATA[/media/1059/group.jpg]]></image1>
        <textSection4><![CDATA[<p>4.del</p>
<ul>
<li>Afsætning D,</li>
<li>Dansk D, Erhvervsøkonomi D, Fremmedsprog engelsk D, tysk D,</li>
<li>Informationsteknologi D, Matematik D, Samfundsfag D</li>
<li>Ernæringsassistentkurser på EUD</li>
<li>Kurser på Landbrugsskolen: dyrehold, planteavl, landbrugsmaskiner</li>
<li>Praktik i Ribe VikingeCenter, Ekstern praktik</li>
<li>Vejledning og prøve i præsentationsportfolio.</li>
<li>Afstigning til uddannelse eller arbejde.</li>
</ul>]]></textSection4>
        <textSection1><![CDATA[<p>1.del</p>
<ul>
<li>Faglige, personlige og sociale screeninger</li>
<li>I den periode arbejder de på vores værksteder og vi opnår det personlige kendskab til den unge, som skal til for, at dette skal lykkes.</li>
<li>Opstart med korte faglige kurser som landbrugsskolen og EUD/AMU.</li>
<li>Arbejdspladskultur, Arbejdsplanlægning og samarbejde, Hygiejne,</li>
<li>Afklaring og vejledning. Opstart af portfolio</li>
<li>Praktik i Ribe VikingeCenter</li>
</ul>]]></textSection1>
        <image2><![CDATA[/media/1060/8d40aba4cf726d174f4f4ab678d89bd1.jpg]]></image2>
        <textSection2><![CDATA[<p>2.del</p>
<ul>
<li>Afsætning F, Dansk F, Erhvervsøkonomi F, Fremmedsprog engelsk F, tysk F,</li>
<li>Informationsteknologi F, Matematik F, Samfundsfag F</li>
<li>Praktikpladssøgning, Ernæringsassistentkurser på EUD</li>
<li>Kurser på Landbrugsskolen: dyrehold, planteavl, landbrugsmaskiner.</li>
<li>Vejledning og portfolio.</li>
<li>Praktik i Ribe VikingeCenter</li>
</ul>]]></textSection2>
        <textSection3><![CDATA[<p>3.del</p>
<ul>
<li>Afsætning E, Dansk E, Erhvervsøkonomi E, Fremmedsprog engelsk E, tysk E,</li>
<li>Informationsteknologi E, Matematik E,</li>
<li>Samfundsfag E, Ernæringsassistentkurser på EUD</li>
<li>Kurser på Landbrugsskolen: dyrehold, planteavl, landbrugsmaskiner</li>
<li>Praktik i Ribe VikingeCenter</li>
<li>Erhverstræning</li>
<li>Afslutning i et fag på D niveau. Vejledning og portfolio, opstart af præsentationsportfolio.</li>
</ul>]]></textSection3>
      </kUURibe>
      <kUUVejen id="1237" key="bcbd23d8-cfc6-488a-88a5-db8fbdc0565b" parentID="1204" level="3" creatorID="0" sortOrder="3" createDate="2017-09-21T13:47:44" updateDate="2017-09-27T13:47:10" nodeName="KUU Vejen" urlName="kuu-vejen" path="-1,1148,1204,1237" isDoc="" nodeType="1234" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1233" nodeTypeAlias="kUUVejen">
        <pageTitle><![CDATA[KUU Vejen]]></pageTitle>
        <siteName><![CDATA[Umbraco Test site]]></siteName>
        <textSection2><![CDATA[<p>2.del</p>
<ul>
<li>Almen undervisning. Et eller to fag på G-niveau, eller videre på F og E niveau. I samarbejde med IBC eller VUC</li>
<li>Erhvervslære, samarbejdslære, arbejdspladslære, delvis praktisk arbejde og delvis teoretisk undervisning på VBC, EUD og SOSU.</li>
<li>Afklaring af assistenter inden for madservice og slagter, mennesker og pleje, service og handel. I samarbejde med VBC, SOSU og EUD.</li>
<li>Sundhedstema i samarbejde med SOSU, VBC og EUD.</li>
<li>Vejledning og portfolio.</li>
</ul>]]></textSection2>
        <image2><![CDATA[/media/1061/our-people-header.jpg]]></image2>
        <textSection3><![CDATA[<p>3.del</p>
<ul>
<li>Almen undervisning. Et eller to fag på F, E, D niveau. VBC eller VUC</li>
<li>Erhvervslære, arbejdspladslære, samarbejdslære.</li>
<li>Erhvervstræning i virksomhed eller produktionsskole.</li>
<li>Afslutning i et fag på D niveau. Vejledning og portfolio, opstart af præsentationsportfolio.</li>
</ul>]]></textSection3>
        <image1><![CDATA[/media/1062/81174556.jpg]]></image1>
        <textSection1><![CDATA[<p>1.del</p>
<ul>
<li>Introduktion, Præsentation af uddannelsen, kontaktperson, uddannelsessted og medkursister.</li>
<li>Sport og motion. Introduktion til Vejen Idrætscenter. Bl.a. for at styrke deltagernes robusthed og   sundhed. Holddannelse på tværs.</li>
<li>Almen undervisning. Deltagere Screenes og tilbydes et eller to fag på G-niveau.</li>
<li>Opstart af de tre fag. Erhvervslære, arbejdspladslære, samarbejdslære, gennem praktisk arbejde enten på Produktionsskolen eller praktikvirksomhed.</li>
<li>Erhvervelse af hygiejnecertifikat. EUD samarbejdspartner.</li>
<li>Afklaring og vejledning. Opstart af portfolio</li>
</ul>]]></textSection1>
        <textSection4><![CDATA[<p>4.del</p>
<ul>
<li>Almen undervisning i et fag på D niveau.</li>
<li>Op følgende undervisning i elevens valgte tema. VBC, SOSU eller EUD.</li>
<li>Prøve i D fag.</li>
<li>Vejledning og prøve i præsentationsportfolio. Afstigning til uddannelse eller arbejde.</li>
</ul>]]></textSection4>
      </kUUVejen>
    </findUddannelse>
    <linksOgDownloads id="1212" key="7ec64765-d155-4a57-b222-5f5d3702bb21" parentID="1148" level="2" creatorID="0" sortOrder="6" createDate="2017-09-05T10:57:18" updateDate="2017-09-12T14:44:55" nodeName="Links og Downloads" urlName="links-og-downloads" path="-1,1148,1212" isDoc="" nodeType="1210" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1209" nodeTypeAlias="linksOgDownloads">
      <pageTitle><![CDATA[Links og Downloads]]></pageTitle>
      <siteName><![CDATA[KUU test]]></siteName>
      <intro><![CDATA[<p>Her kommer der til at være links og Downloads. Store knapper og små knapper... Måske noget tekst.</p>]]></intro>
    </linksOgDownloads>
    <praktiskInfo id="1211" key="2f5e1ae5-1c35-4af9-8ae1-df4e0df0614a" parentID="1148" level="2" creatorID="0" sortOrder="7" createDate="2017-09-05T10:55:24" updateDate="2017-09-13T12:39:09" nodeName="Praktisk Info" urlName="praktisk-info" path="-1,1148,1211" isDoc="" nodeType="1208" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="1207" nodeTypeAlias="praktiskInfo">
      <pageTitle><![CDATA[Praktisk Info]]></pageTitle>
      <siteName><![CDATA[KUU test]]></siteName>
      <info><![CDATA[<p>Her kommer der til at være praktisk info verørende skolerne og uddannelsen generelt.</p>]]></info>
    </praktiskInfo>
  </home>
  <slider id="1153" key="d9c6b8d7-3920-419b-aa23-afe32328fd50" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-08-14T14:14:42" updateDate="2017-08-14T14:14:42" nodeName="slider" urlName="slider" path="-1,1153" isDoc="" nodeType="1149" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="0" nodeTypeAlias="slider">
    <slide id="1154" key="ebfbf7cd-23eb-4971-854c-564dfbaa23c1" parentID="1153" level="2" creatorID="0" sortOrder="0" createDate="2017-08-14T14:16:10" updateDate="2017-09-20T14:21:33" nodeName="Slide1" urlName="slide1" path="-1,1153,1154" isDoc="" nodeType="1150" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="0" nodeTypeAlias="slide">
      <billede><![CDATA[/media/1049/3ac352669bd370ab1465cc4a6da28bff.jpg]]></billede>
      <slideName><![CDATA[troll]]></slideName>
      <caption><![CDATA[Alle mulige ting!]]></caption>
    </slide>
    <slide id="1155" key="02d69e56-0218-4f64-b789-295f23f9d3f5" parentID="1153" level="2" creatorID="0" sortOrder="1" createDate="2017-08-14T14:16:33" updateDate="2017-09-11T11:42:36" nodeName="Slide2" urlName="slide2" path="-1,1153,1155" isDoc="" nodeType="1150" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="0" nodeTypeAlias="slide">
      <billede><![CDATA[/media/1050/8e4e6aa3b51e3ed2f6bc95f13af290ea.jpg]]></billede>
      <slideName><![CDATA[Weird car]]></slideName>
      <caption><![CDATA[In darkest night]]></caption>
    </slide>
    <slide id="1156" key="fff84e14-6ab8-4486-87d8-d390ce888ab5" parentID="1153" level="2" creatorID="0" sortOrder="2" createDate="2017-08-14T14:16:55" updateDate="2017-09-11T11:42:51" nodeName="Slide3" urlName="slide3" path="-1,1153,1156" isDoc="" nodeType="1150" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="0" nodeTypeAlias="slide">
      <billede><![CDATA[/media/1051/maxresdefault-1.jpg]]></billede>
      <slideName><![CDATA[Mountains]]></slideName>
      <caption><![CDATA[Mr. sad fights]]></caption>
    </slide>
    <slide id="1157" key="763c8942-2b15-4753-b341-dfce7441291e" parentID="1153" level="2" creatorID="0" sortOrder="3" createDate="2017-08-14T14:17:11" updateDate="2017-09-11T11:43:03" nodeName="Slide4" urlName="slide4" path="-1,1153,1157" isDoc="" nodeType="1150" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="0" nodeTypeAlias="slide">
      <billede><![CDATA[/media/1052/maxresdefault-2.jpg]]></billede>
      <slideName><![CDATA[Creeper]]></slideName>
      <caption><![CDATA[Depression]]></caption>
    </slide>
    <slide id="1199" key="d06acf4c-686b-4fbe-8c5b-f271bf787572" parentID="1153" level="2" creatorID="0" sortOrder="4" createDate="2017-08-24T14:53:02" updateDate="2017-09-11T11:43:13" nodeName="Slide5" urlName="slide5" path="-1,1153,1199" isDoc="" nodeType="1150" creatorName="Søren Nielsen" writerName="Søren Nielsen" writerID="0" template="0" nodeTypeAlias="slide">
      <billede><![CDATA[/media/1053/maxresdefault.jpg]]></billede>
      <slideName><![CDATA[Slide5]]></slideName>
      <caption><![CDATA[THE SPANISH ENQUISITION!]]></caption>
    </slide>
  </slider>
</root>